In [1]:
# Dependencies
import pandas as pd

In [2]:
# Create file path for NBAPlayerAges.csv
nba_file = 'NBAPlayerAges.csv'

# read file with pandas
nba_age_df = pd.read_csv(nba_file)

In [3]:
nba_age_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [16]:
nba_age_df['first_name'] = nba_age_df['player_name'].str.split(expand=True)

In [17]:
nba_age_df['first_name']

0        Dennis
1        Dwayne
2          Earl
3            Ed
4            Ed
          ...
11140      Maxi
11141    Melvin
11142    Meyers
11143    Norvel
11144      Matt
Name: first_name, Length: 11145, dtype: object